*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
  }
  html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 150%;
    line-height: 1.4;
  }
  body {
    margin: 0;
  }
  header{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 10px;
  }

.video {
   
    
   
    width: 100vw;
    height: 100vh;
  } 

/* ------  */
/* .viewport-header {
    position: relative;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   */

   .viewport-header {
       position: relative;
       
      
       
   }
  h1 {
    font-family: 'Syncopate', sans-serif;
    color: white;
    text-shadow: 1px 1px 2px #000, 1px 1px 10px rgb(238, 59, 208);
    text-transform: uppercase;
    letter-spacing: 1vw;
    line-height: 1.2;
    font-size: 7vw;
    text-align: center;
  }
   
    span {
      display: block;
      font-size: 10vw;
      letter-spacing: -1.3vw;
    }

    /* heart  */

    .heart{
        color: white;
        box-shadow: 1px 1px 3px #000;
        border-radius: 50%;
        text-align: center;
       }
    .cover__heart{
        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
    }
  
    .general{
      animation: Circle 5s infinite;
      position: relative;
  
    }
    #heart1{
        width: 20px;
        height: 20px;
        animation-timing-function: ease;
        animation: Circle 5s infinite;
    }
  
    #heart2{
      width: 30px;
      height: 30px;
      
      
      animation-timing-function:ease-in;
  }
  #heart3{
      width: 50px;
      height: 50px;
      
      
      animation-timing-function:ease-in-out;
  }
  #heart4{
      width: 30px;
      height: 30px;
     
      
      animation-timing-function: ease-out;
  }
  #heart5{
      width: 50px;
      height: 50px;
      
     
      animation-timing-function:ease;
      
  }
    @keyframes Circle{
       0%{ top:0px;
        opacity: 1;
      }
       100%{
           top: 500px;
           opacity: 0;
       }
   }
  
  
  :root{
      --color-red: red;
      --color-yellow: yellow;
      --color-purple: rgb(160, 28, 160);
      --color-green: green;
      --color: rgb(135, 217, 238);
  
  }
  

  /* --------  */
  main {
    background: rgba(black, 0.66);
    color: rgb(201, 37, 37);
    position: relative;
    padding: 1rem;
  }
    p {
      max-width: 600px;
      margin: 1rem auto;
    }
  
  
  

    